body{     font-family: Arvo, serif;     background: url(a.jpg) no-repeat center center;     background-attachment: fixed;     background-size: cover; } 
 
/*Style brand*/ .logo{     height: 0px;    } 
 
/*Style navigation bar*/ .navbar-inverse{     background: rgba(40,40,54,0.5);    } 
 
.nav li{     color: #fff;     font-size: 17px;     margin-right: 35px;     padding: 10px 0; }   
 
.nav li:hover{     border-bottom: 1px solid #00FFB8;      padding-bottom: 9px;     cursor: pointer; }  
 
/*Style jumbotron*/ .jumbotron{     background-color: transparent;     color: #fff;     text-align: center;     margin-top:10px;     padding: 10px;     letter-spacing: 2.5px; } 
 
/*limit the width of the icons section*/ .container{     max-width: 10000px; 
} /*Style icons section using bootstrap grid system*/ .ipl-banner-left{     height: 50px;    } 
 
.col-md-4{     text-align: center;     color:#fff; } 
 
.icons p{     font-size: 15px;    
} /*Style contact button*/ .contact{     text-align: center;     margin-top: 30px;     margin-bottom: 100px; } 
 
.btn{     background-color: rgba(0, 255, 184, 0.5);     border: none;     border-radius: 10px;     color: #fff;     font-size: 18px;     padding: 10px 70px;     letter-spacing: 1.3px; } 
 
.btn:hover{     background-color: rgba(0, 0, 0, 0.5);      color: #fff;     border: none; } /*Style footer*/ 
.footer{     background-color: rgba(0, 0, 0, 0.5);      color: grey;     font-size: 15px;     padding: 10px 0; 
} /*use media queries to change icons size in small devices*/ @media (max-width: 768px){     .bodyimage{         height: 70px;     
}
}


#glimpse{     padding-top: 100px;    }
#glimpse h1{
    padding-bottom:30px;
    color:white;
    text-align:center;
    font-weight: bold;
}

/* carousel */
#myCarousel{     width: 60%;     margin: 0 auto; } 
.carousel-inner .item img{    width:600px;  height: 400px;      margin: 0 auto; }


.form-input{
	background-color: black;
	width: 300px;
	height: 40px;
	border-radius: 83px;
	border: 0;
	text-align: center;
	-webkit-box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
	box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
	margin-bottom: 15px;
}
.div2{
	
	
	
	text-align: center;

    
}


 .containingDiv{
 margin-top: 10px;
 border-radius: 15px;
     color: white;
 }


.myButton {
	background-color:white;
	border-radius: 5px;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 30px;
	margin-top: 10px;
	text-decoration:none;
	transition: 0.5s ease-out;
}

.myButton:hover{
	background-color: black;
	color: white;
	box-shadow: inset 7px 3px 16px -10px rgba(0,0,0,0.75);
}

.myButton:active {
	position:relative;
	top:1px;
}
.deco{
    text-decoration: none;
    color:white;
    font-size: 14px;
}
.deco:hover{
  color:black;
  text-decoration: none;
    
}
.contact{
    text-decoration: none;
    margin-bottom: 0;
}
.contact-icon{
	color: white;
	padding: 7px;
}

.contact-icon:hover{
	color: black;
}
.footer-description{
	font-size: 22px;
	font-weight: 200;
    text-align: center;
    color: white;
}

.results{
    color: black;
  text-align: center;
  background-color: lightgrey;
  margin-top:70px;
  border-radius: 15px;
	-webkit-box-shadow: 7px 6px 18px -2px rgba(94,94,94,0.61);
	-moz-box-shadow: 7px 6px 18px -2px rgba(94,94,94,0.61);
	box-shadow: 7px 6px 18px -2px rgba(94,94,94,0.61);
  